@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
    height: auto;
}

h1 {
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 0;
}

p {
    line-height: 2;
}

img {
    display: block;
    width: 100%;
}

nav {
    background-color: #1B8833;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav ul {
    display: flex;
    gap: 1.5rem;
}

nav ul li {
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.15rem;
}

nav a:hover {
    opacity: 0.5;
}

/* main {
    max-width: 1000px;
    margin: auto;
}*/

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22rem;
}

#hero-text {
    text-align: center;
    color: #000;
    font-size: 1.5rem;
}



#about-text {
    display: flex;
    flex: 0 1 40vw;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
    height: 50vh;
}

#about h2 {
    margin-top: 2.25rem;
    font-size: 2.25rem;
    text-align: center;
    
}

#about-image {
    background-image: url('../img/about_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex: 0 1 60vw;
    margin: 0;
}

#work {
    margin-top: 2.25rem;
}

#work-text {
   display: flex;
   flex: 0 1 40vw;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-left: 1rem;
   padding-right: 1rem;
   height: 50vh;
}

#work-image {
    background-image: url('../img/work_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 50vh;
    flex: 0 1 60vw;
}

#join {
    margin-top: 2.25rem;
}

#join-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

#join button {
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: #1B8833;
    height: 50px;
    width: 30%;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    text-transform: capitalize;
    transition: all 0.5s ease;
    margin-top: 1rem;
}

#join a {
    text-decoration: none;
}

#join button:hover {
    opacity: 0.7;
}

footer {
    margin-top: 2.25rem;
    background-color: red;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;

}

footer h3 {
    font-size: 1.15rem;
}

footer #socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.15rem;
    
}

footer #creator {
    font-size: 0.8rem;
}

@media only screen and (min-width: 700px) {
    #hero-text p {
        font-size: 1.5rem;
    }

    #about {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    #about-text {
        height: 75vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    #about-image {
        height: 75vh;
        
    }

    #work {
        margin-top: 5rem;
        display: flex;
        height: 50%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #work-text {
        height: 75vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #work-image {
        height: 75vh;
    }

    #join {
        max-width: 700px;
        margin: auto;
        display: block;
    }

    #join h2 {
        margin-top: 2.25rem;
    }

    p {
        font-size: 1.15rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    footer #socials {
        font-size: 1.15rem;
    }

    footer p {
        font-size: 1rem;
    }
}